{% extends 'base.html.twig' %} {% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body" style="">
                    <h1 align="center">Equuinity Hub</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
                    <!--- News Article --->
                    <div class="card">
                        <div class="card-header">
                            <div class="row">

                                <div class="col-lg-6">
                                    <h3 class="card-title"><a href="#">Ponda fisto aayla moff moff</a></h3>
                                </div>
                                <div class="col-lg-6 text-right">
                                    <span class="card-title">Posted Date by <a href="#">Poster</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-justify">
                            <p class="card-text">
                                Lucas ipsum dolor sit amet obi-wan r2-d2 twi'lek bespin dooku fett antilles darth mustafar secura. Solo antilles jabba solo. Leia alderaan kenobi organa dagobah gonk mara ponda wicket. Greedo thrawn yavin calrissian hutt c-3p0. Qui-gon jango obi-wan tatooine skywalker moff antilles. Amidala jinn jade sidious. Boba lando windu sidious darth mara. Mustafar kessel moff antilles dagobah dagobah wampa luke. Amidala calrissian wedge droid han antilles moff. Darth antilles jabba binks jango coruscant.

                                Padmé vader mothma darth. Owen wedge mothma yoda wookiee jade skywalker. Skywalker fett ackbar zabrak r2-d2 kashyyyk antilles darth. Obi-wan lobot c-3po jade organa skywalker organa. Twi'lek hutt obi-wan skywalker mandalore boba maul. Kessel han vader skywalker. Mara yavin owen dantooine thrawn. Jinn moff mothma sidious. Darth moff darth obi-wan padmé solo fett. Tusken raider antilles jabba jabba fisto grievous aayla moff. Hutt darth windu dagobah kenobi moff moff. Hutt baba ben moff solo baba.

                                Lobot ponda kenobi anakin ventress solo kamino hutt darth. Ponda fisto aayla moff moff. Lobot darth jawa moff binks solo dantooine organa. Ewok jango gonk mandalore antilles darth. Utapau darth vader kenobi tatooine darth leia boba kessel. Vader darth solo hutt. Mustafar fett baba kashyyyk r2-d2 mon calamari. Darth solo maul hutt dagobah. Luke darth k-3po palpatine binks. Sidious ben binks padmé ben hutt. Vader jabba darth bespin. R2-d2 windu mustafar wookiee wampa jade organa jawa. Chewbacca solo darth padmé utapau windu endor solo mothma.</p>
                        </div>
                    </div>
                    <!--- End News Article --->

        </div>
        <div class="col-lg-4">
            <div class="card text-white bg-info">
                <div class="card-body text-center">
                    <h3 class="card-title text-white" align="center">Quick Stats</h3>
                    <p class="card-text">Total Players</p>
                    <p class="card-text">Total Horses</p>
                    <p class="card-text">Online Now</p>
                    <p class="card-text">Newest Player</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}