{% extends 'base.html.twig' %}

{% block title %}World{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" style="">
                <h1 align="center">World</h1>
                <h6 align="center">Explore the World of Equuinity</h6>
            </div>
        </div>
    </div>
</div>

<div class="row" style="width:100%;margin-left:auto;margin-right:auto;">
    <div class="col-lg-4">
        <div class="card text-center">
            <div class="card-body bg-primary text-white">
                <div class="p-4">
                    <span><i class="display-4 wi wi-sleet"></i></span>
                </div>
            </div>
            <div class="card-footer text-primary bg-white">
                <a href="{{ path('horseStore') }}"><h4 class="font-weight-medium text-primary">HORSE DEALER</h4></a>
                <h6 class="font-weight-light mb-0">Aquire All the Ponies</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-center">
            <div class="card-body bg-primary text-white">
                <div class="p-4">
                    <span><i class="display-4 wi wi-sleet"></i></span>
                </div>
            </div>
            <div class="card-footer text-primary bg-white">
                <h4 class="font-weight-medium text-primary">STABLE SUPPLY</h4>
                <h6 class="font-weight-light mb-0">Upgrade Your Stable</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-center">
            <div class="card-body bg-primary text-white">
                <div class="p-4">
                    <span><i class="display-4 wi wi-sleet"></i></span>
                </div>
            </div>
            <div class="card-footer text-primary bg-white">
                <h4 class="font-weight-medium text-primary">VETERINARIAN</h4>
                <h6 class="font-weight-light mb-0">For Your Health</h6>
            </div>
        </div>
    </div>
</div>

    <div class="row" style="width:100%;margin-left:auto;margin-right:auto;">
        <div class="col-lg-4">
            <div class="card text-center">
                <div class="card-body bg-primary text-white">
                    <div class="p-4">
                        <span><i class="display-4 wi wi-sleet"></i></span>
                    </div>
                </div>
                <div class="card-footer text-primary bg-white">
                    <h4 class="font-weight-medium text-primary">FARRIER</h4>
                    <h6 class="font-weight-light mb-0">For the Footies</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card text-center">
                <div class="card-body bg-primary text-white">
                    <div class="p-4">
                        <span><i class="display-4 wi wi-sleet"></i></span>
                    </div>
                </div>
                <div class="card-footer text-primary bg-white">
                    <h4 class="font-weight-medium text-primary">TOWN HALL</h4>
                    <h6 class="font-weight-light mb-0">Standings + Important Info</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card text-center">
                <div class="card-body bg-primary text-white">
                    <div class="p-4">
                        <span><i class="display-4 wi wi-sleet"></i></span>
                    </div>
                </div>
                <div class="card-footer text-primary bg-white">
                    <h4 class="font-weight-medium text-primary">CREDIT EXCHANGE</h4>
                    <h6 class="font-weight-light mb-0">Enhance Your Equuinity</h6>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}
